.popup__close {
   position: absolute;
   background-image: url(../../../images/close-Icon.svg);
   width: 32px;
   height: 32px;
   background-repeat: no-repeat;
   background-color: transparent;
   background-size: contain;
   border: 0;
   top: -40px;
   right: -40px;
   z-index: 3;
}

.popup__close:hover {
   cursor: pointer;
   opacity: 0.6;
}

@media screen and (max-width: 620px) {
   .popup__close {
      width: 20px;
      height: 20px;
      top: -31px;
      right: -30px;
   }
}

@media screen and (max-width: 425px) {
   .popup__close {
      top: -35px;
      right: 0px;
   }
}
