.popup__heading {
   margin: 0;
   padding-bottom: 54px;
   color: #000;
   font-size: 24px;
   font-weight: 900;
   line-height: 100%;
}

@media screen and (max-width: 620px) {
   .popup__heading {
      font-size: 18px;
   }
}
