.profile__info-job {
   font-size: 18px;
   font-weight: 400;
   line-height: 21.78px;
   grid-area: job;
   margin: 0;
   text-overflow: ellipsis;
   max-width: 217px;
   overflow: hidden;
   white-space: nowrap;
}

@media screen and (max-width: 940px) {
   .profile__info-job {
      margin: 0 auto;
   }
}

@media screen and (max-width: 425px) {
   .profile__info-job {
      font-size: 14px;
      max-width: 169px;
      line-height: 16.94px;
   }
}
