@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info-add-button/profile__info-add-button.css);
@import url(../blocks/profile/__info-edit-button/profile__info-edit-button.css);
@import url(../blocks/profile/__info-job/profile__info-job.css);
@import url(../blocks/profile/__info-name/profile__info-name.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__icon/profile__icon.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__block/card__block.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/card/__list-item/card__list-item.css);
@import url(../blocks/card/__list/card__list.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__delete/card__delete.css);
@import url(../blocks/card/__element-container/card__element-container.css);
@import url(../blocks/card/__like-count/card__like-count.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__field/_card/popup__field_card_name.css);
@import url(../blocks/popup/__field/_card/popup__field_card_link.css);
@import url(../blocks/popup/__field/_input/popup__field_input_name.css);
@import url(../blocks/popup/__field/_input/popup__field_input_job.css);
@import url(../blocks/popup/__field/_input/_tape/popup__field_input_type_error.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__input-save/popup__input-save.css);
@import url(../blocks/popup/__input-save/_inactive/popup__input-save_inactive.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_type-edit/popup_type-edit.css);
@import url(../blocks/popup/_type_add-card/popup_type_add-card.css);
@import url(../blocks/popup/_photo/popup_type_photo.css);
@import url(../blocks/popup/__photo-figure/popup__photo-figure.css);
@import url(../blocks/popup/__photo-caption/popup__photo-caption.css);
@import url(../blocks/popup/__photo-img/popup__photo-img.css);
@import url(../blocks/popup/_type_delete-confirm/popup_type_delete-confirm.css);




