.popup__field {
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   width: 100%;
   box-sizing: border-box;
   padding: 0 0 13px;
   outline: none;
   font-size: 14px;
   font-weight: 500;
   line-height: 100%;
   margin-bottom: 5px;
}

@media screen and (max-width: 320px) {
   .popup__field {
      margin-bottom: 27px;
   }
}
